* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
}

.chat-box {
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right; /* 채팅창 요소를 오른쪽으로 정렬 */
}

.chat-box li {
    margin-bottom: 10px;
    text-align: left; /* 대화 내용 요소를 왼쪽으로 정렬 */
}

.input-box {
    display: flex;
}

.input-box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.input-box input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
