<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://v2.vuejs.org/v2/guide/installation.html -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <!--production 라이브러리는 디버깅이 어렵다-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>-->

    <title>Vue.js 2.6 Demo</title>
</head>
<body>
<div id="app">
    <h3>Basic</h3>
    <span v-text="person.name"></span>
    <p>
        {{ greeting(person.name) }}
    </p>
    <div>
        {{ person.age }}
        <button @click="add">add</button>
        <button v-on:click="subtract">substract</button>
    </div>

    <hr>
    <h3>IME input</h3>
    <ime v-model="inputText"></ime>
    <div>
        <!--
        https://joshua1988.github.io/web-development/vuejs/v-model-usage/

        v-model = v-bind + v-on
            - 매번 사용자가 일일이 v-bind와 v-on 속성을 다 지정해 주지 않아도 좀 더 편하게 개발할 수 있게 고안된 문법
            - input, textarea는 v-bind:value + v-on:input 조합
            - select는 v-bind:value + v-on:change 조합
            - checkbox, radio는 v-bind:checked + v-on:change 조합
        v-bind: Vue 인스턴스의 데이터 속성을 해당 HTML 요소에 연결할 때 사용한다.
        v-on: 해당 HTML 요소의 이벤트를 뷰 인스턴스의 로직과 연결할 때 사용한다.

        colon(:)으로 시작하면 앞에 v-bind가 생략된 것.

        -->
        <!--v-on:input 이벤트를 지정하지 않으면 값이 Vue 인스턴스에 전달되지 않음-->
        <div style="border-width: thick; border-color: #000; border-style: dashed;">
            <!--단방향 one-way-->
            <input v-bind:type="type" :value="inputText"><br/>
            <!--양방향 two-way-->
            <!--
            하지만 v-model의 경우 IME(Chinese, Japanese, Korean etc.) 입력에 대해서
            한 글자에 대한 입력이 끝나야만 바인딩이 되기 때문에 v-on:input을 사용하는 것이 좋다.
            https://vuejs.org/guide/essentials/forms.html#text
            -->
            <input v-bind:type="type" :value="inputText" v-on:input="updateInputText"><br/>
            <input v-bind:type="type" v-model="inputText"><br/>
        </div>
    </div>
    <div>
        <a :href="getYoutubeChannel('@gamegalpi')">@gamegalpi</a>
    </div>

    <hr>
    <h3>append component</h3>
    <div>
        <button @click="testMethods">methods</button>
        <button @click="testComputed">computed</button>
    </div>
</div>
<script type="module" src="/src/main.js"></script>
<script>
    // for chrome devtool
    // https://devtools.vuejs.org/guide/faq.html#when-opening-an-html-file-directly
    // CDN 방식이라면 minify되지 않은 파일 사용해야 한다.
    // Extension 설치 후 브라우저를 재시작한다.
    Vue.config.devtools = true;
</script>
</body>
</html>
