<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://v2.vuejs.org/v2/guide/installation.html -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <!--production 라이브러리는 디버깅이 어렵다-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>-->

    <title>Vue.js 2.6 Demo</title>

    <style>
        code {
            color: #d63200;
            background-color: #f8f8f8;
            padding: 3px 5px;
            border-radius: 2px;
        }

        .red {
            color: #FF0000FF;
        }

        .large {
            font-size: 30px;
        }
    </style>
</head>
<body>
<div id="app">
    <h3>Basic text binding</h3>
    <span v-text="person.fullName"></span>
    <section>
        {{ greeting(person.fullName) }}<br>
        <label for="firstName">First Name</label>
        <input type="text" v-model="person.firstName"><br>
        <label for="lastName">Last Name</label>
        <input type="text" v-model="person.lastName"><br>
    </section>
    <section>
        {{ person.age }}
        <button @click="add">add</button>
        <button v-on:click="subtract">substract</button>
    </section>

    <hr>
    <h3>IME input</h3>
    <!--
    v-model = v-bind + v-on
        - 매번 사용자가 일일이 v-bind와 v-on 속성을 다 지정해 주지 않아도 좀 더 편하게 개발할 수 있게 고안된 문법
        - input, textarea는 v-bind:value + v-on:input 조합
        - select는 v-bind:value + v-on:change 조합
        - checkbox, radio는 v-bind:checked + v-on:change 조합
    v-bind: Vue 인스턴스의 데이터 속성을 해당 HTML 요소에 연결할 때 사용한다.
    v-on: 해당 HTML 요소의 이벤트를 뷰 인스턴스의 로직과 연결할 때 사용한다.

    colon(:)으로 시작하면 앞에 v-bind가 생략된 것.

    -->
    <!--v-on:input 이벤트를 지정하지 않으면 값이 Vue 인스턴스에 전달되지 않음-->
    <section>
        <!--단방향 one-way-->
        <input v-bind:type="type" :value="inputText">
        - <code>v-on</code>을 설정하지 않을 경우 양방향 바인딩이 되지 않는다.
        <br>
        <!--양방향 two-way-->
        <input v-bind:type="type" :value="inputText" v-on:input="updateInputText">
        - 직접 <code>v-bind</code>, <code>v-on</code> 사용
        <br>
        <input v-bind:type="type" v-model="inputText">
        - <code>v-model</code>의 경우 IME(Chinese, Japanese, Korean etc.) 입력에 대해서
        한 글자에 대한 입력이 끝나야만 바인딩이 되기 때문에 v-on:input을 사용하는 것이 좋다.
        - <a href="https://vuejs.org/guide/essentials/forms.html#text">공식 문서</a>
        <br>
        <ime v-model="inputText"></ime>
        - 커스텀 컴포넌트를 생성해서 해결할 수도 있다. - <a href="https://joshua1988.github.io/web-development/vuejs/v-model-usage/">캡틴판교
        참조</a>
        <br>
    </section>
    <section>
        <span>href 링크 관리</span><br>
        <a :href="getYoutubeChannel('@gamegalpi')">@gamegalpi</a>
    </section>

    <hr>

    <h3>methods vs. computed</h3>
    <span>console.log 확인</span>
    <section>
        <button @click="testMethods">methods</button>
        - 현재 시각<br>
        <button @click="testComputed">computed</button>
        - 처음 호출된 시각 캐싱<br>
    </section>

    <hr>

    <h3 v-bind:class="{red: isRed, large: isLarge}">클래스 바인딩 (Class Binding)</h3>
    <button @click="toggleRed">Toggle Red</button>
    <button @click="toggleLarge">Toggle Large</button>

    <div :style="{color: title.color, fontSize: title.size + 'px'}">스타일 바인딩 (Style Binding)</div>
    <button @click="toggleTitleStyle">Toggle Large</button>

    <hr>

    <h3>조건부 렌더링 (Conditional Rendering) - <code>v-if</code></h3>
    <a href="https://v2.vuejs.org/v2/guide/conditional.html">Conditional Rendering</a>
    <br>
    <span>단일 HTML 엘리먼트의 노출 여부를 결정할 때 사용할 수 있다.</span>
    <section>
        <button @click="toggleShow">Toggle Show</button>
        <!--v-else-if, v-else-->
        <div v-if="show">
            <hr>
            <code>v-if</code>는 DOM에 추가/삭제
        </div>
        <div v-show="show">
            <code>v-show</code>는 <code>display:none</code> 유무
        </div>
    </section>
    <a href="https://v2.vuejs.org/v2/guide/conditional.html#v-if-vs-v-show">공식 문서 참조(v-if vs v-show)</a>
    <p><code>v-if</code>는 조건부 블럭 안의 이벤트 리스너와 자식 컴포넌트가 토글하는 동안 적절하게 제거되고 다시 만들어지기 때문에 “진짜” 조건부 렌더링 입니다</p>
    <p><code>v-if</code>는 또한 <strong>게으릅니다</strong>. 초기 렌더링에서 조건이 거짓인 경우 아무것도 하지 않습니다. 조건 블록이 처음으로 참이 될 때 까지 렌더링 되지 않습니다.</p>
    <p>비교해보면, <code>v-show</code>는 훨씬 단순합니다. CSS 기반 토글만으로 초기 조건에 관계 없이 엘리먼트가 항상 렌더링 됩니다.</p>
    <p>일반적으로 <code>v-if</code>는 토글 비용이 높고 <code>v-show</code>는 초기 렌더링 비용이 더 높습니다. 매우 자주 바꾸기를 원한다면 <code>v-show</code>를, 런타임 시 조건이 바뀌지 않으면 <code>v-if</code>를 권장합니다.</p>

    <hr>

</div>
<script type="module" src="/app.js"></script>
<script>
    // for chrome devtool
    // https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=en
    // https://devtools.vuejs.org/guide/faq.html#when-opening-an-html-file-directly
    // CDN 방식이라면 minify되지 않은 파일 사용해야 한다.
    // Extension 설치 후 브라우저를 재시작한다.
    Vue.config.devtools = true;
</script>
</body>
</html>
