<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://v2.vuejs.org/v2/guide/installation.html -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <!--production 라이브러리는 디버깅이 어렵다-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>-->

    <title>Vue.js 2.6 Demo</title>

    <style>
        code {
            color: #d63200;
            background-color: #f8f8f8;
            padding: 3px 5px;
            border-radius: 2px;
        }

        .red {
            color: #FF0000FF;
        }

        .large {
            font-size: 30px;
        }
    </style>
</head>

<body>
<header>
    <h1>Vue.js v2.6 자습서</h1>
    <article>
        <a href="https://github.com/vuejs-kr/kr.vuejs.org/issues/227">한국어 문서는 공식 링크가 깨져서</a> 영문 문서로 링크 걸었습니다.
        임시로 <a href="https://ssafy-vue.xyz/v2/guide/index.html">컨트리뷰터가 호스팅한 사이트</a>를 참조할 수 있습니다.
    </article>
</header>

<hr>

<section id="todo-list-example">
    <h3>Todo 관리</h3>
    <a href="https://v2.vuejs.org/v2/guide/list.html#v-for-with-a-Component">공식 문서</a><br>

    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
        >
        <button>Add</button>
    </form>
    <ul>
        <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
        ></li>
    </ul>
</section>

<hr>

<section id="data-binding">
    <h2>Basic data binding</h2>
    <section>
        <h3>텍스트 바인딩</h3>
        <ul>
            <li>
                <a href="https://vuejs.org/guide/essentials/template-syntax.html#text-interpolation">Text Interpolation(double curly braces)</a>를
                사용해서 텍스트를 표시하는 방법<br>
                {{ greeting(person.name) }}
            </li>
            <li>
                <div>
                    <code>v-text</code>를 사용해서 텍스트를 표시하는 방법
                </div>
                <span v-text="person.name"></span><br>
            </li>
        </ul>

        <h3>이벤트 바인딩</h3>
        age: {{ person.age }}
        <button @click="add">add</button>
        <button v-on:click="subtract">substract</button>
    </section>
</section>

<hr>

<section id="input-model">
    <h2>input</h2>
    <section>
        <h3>text</h3>
        <ol>
            <li>
                <code>v-bind</code>:
                Vue 인스턴스의 데이터 속성을 해당 HTML 요소에 연결할 때 사용한다.
                속성이 colon(:)으로만 시작하면 앞에 <code>v-bind</code>가 생략된 것.
            </li>
            <li>
                <code>v-on</code>:
                해당 HTML 요소의 이벤트를 뷰 인스턴스의 로직과 연결할 때 사용한다.
            </li>
            <li>
                <code>v-model</code>(<code>v-bind</code> + <code>v-on</code>):
                매번 사용자가 일일이 <code>v-bind</code>와 <code>v-on</code> 속성을 다 지정해 주지 않아도 좀 더 편하게 개발할 수 있게 고안된 문법<br>
                - <code>input</code>, <code>textarea</code>는 <code>v-bind:value</code> + <code>v-on:input</code>의 조합<br>
                - <code>select</code>는 <code>v-bind:value</code> + <code>v-on:change</code>의 조합<br>
                - <code>checkbox</code>, <code>radio</code>는 <code>v-bind:checked</code> + <code>v-on:change</code>의 조합
            </li>
        </ol>
        <!--v-on:input 이벤트를 지정하지 않으면 값이 Vue 인스턴스에 전달되지 않음-->
        <div>
            <!--단방향 one-way-->
            <input v-bind:type="type" :value="inputText">
            - <code>v-on</code>을 설정하지 않을 경우 양방향 바인딩이 되지 않는다.
            <br>
            <!--양방향 two-way-->
            <input v-bind:type="type" :value="inputText" v-on:input="updateInputText">
            - 직접 <code>v-bind</code>, <code>v-on</code> 사용
            <br>
            <input v-bind:type="type" v-model="inputText">
            - <code>v-model</code>의 경우 IME(Chinese, Japanese, Korean etc.) 입력에 대해서
            한 글자에 대한 입력이 끝나야만 바인딩이 되기 때문에 <code>v-on:input</code>을 사용하는 것이 좋다.
            - <a href="https://vuejs.org/guide/essentials/forms.html#text">공식 문서</a>
            <br>
            <ime v-model="inputText"></ime>
            - 커스텀 컴포넌트를 생성해서 해결할 수도 있다. - <a href="https://joshua1988.github.io/web-development/vuejs/v-model-usage/">캡틴판교
            참조</a>
            <br>
        </div>
    </section>
    <section>
        <h3>a.href 링크 관리</h3>
        <a :href="getYoutubeChannel('@gamegalpi')">@gamegalpi</a>
    </section>
</section>

<hr>

<section id="computed-function">
    <h2>methods vs. computed</h2>
    <span>브라우저 console.log에서 확인</span>
    <div>
        <button @click="testMethods">methods</button>
        - <code>methods</code>는 호출될 때마다 함수 로직 실행하기 때문에 현재 시각 반환<br>
        <button @click="testComputed">computed</button>
        - <code>computed</code>는 처음 호출되었을 때 결과를 캐싱하기 때문에 처음 호출된 시각 반환<br>
    </div>
</section>

<hr>

<section id="watch-attribute">
    <h2>watch</h2>
    <div>
        <code>watch</code>를 걸면 데이터가 변경되는 것을 감지하고 다른 데이터를 함께 변경할 수 았다.
        아래의 경우 <code>firstName</code> 혹은 <code>lastName</code>이 변경되면 <code>fullName</code>이 변경된다.
    </div>
    <br>

    my name: <span v-text="person.fullName"></span>
    <br>
    <label for="firstName">First Name</label>
    <input type="text" v-model="person.firstName"><br>
    <label for="lastName">Last Name</label>
    <input type="text" v-model="person.lastName"><br>
</section>

<hr>

<section id="css-binding">
    <h2>CSS</h2>

    <h3 v-bind:class="{red: isRed, large: isLarge}">클래스 바인딩 (Class Binding)</h3>
    <p><code>v-bind:class="{red: isRed, large: isLarge}"</code></p>
    <button @click="toggleRed">Toggle Red</button>
    <button @click="toggleLarge">Toggle Large</button>

    <h3 :style="{color: title.color, fontSize: title.size + 'px'}">스타일 바인딩 (Style Binding)</h3>
    <p><code>v-bind:style="{color: title.color, fontSize: title.size + 'px'}"</code></p>
    <button @click="toggleTitleStyle">Toggle Title</button>
</section>

<hr>

<section id="conditional-rendering">
    <h2>조건부 렌더링 (Conditional Rendering) - <code>v-if</code></h2>
    <a href="https://v2.vuejs.org/v2/guide/conditional.html">Conditional Rendering</a>
    <br>
    <span>단일 HTML 엘리먼트의 노출 여부를 결정할 때 사용할 수 있다.</span>
    <br>
    <button @click="toggleShow">Toggle Show</button><br>
    <!--v-else-if, v-else-->
    <div v-if="show">
        <hr>
        <code>v-if</code>는 DOM에 추가/삭제
    </div>
    <div v-show="show">
        <code>v-show</code>는 <code>display:none</code> 유무
    </div>
    <a href="https://v2.vuejs.org/v2/guide/conditional.html#v-if-vs-v-show">공식 문서 참조(v-if vs v-show)</a>
    <p><code>v-if</code>는 조건부 블럭 안의 이벤트 리스너와 자식 컴포넌트가 토글하는 동안 적절하게 제거되고 다시 만들어지기 때문에 “진짜” 조건부 렌더링 입니다</p>
    <p><code>v-if</code>는 또한 <strong>게으릅니다</strong>. 초기 렌더링에서 조건이 거짓인 경우 아무것도 하지 않습니다. 조건 블록이 처음으로 참이 될 때 까지 렌더링 되지 않습니다.</p>
    <p>비교해보면, <code>v-show</code>는 훨씬 단순합니다. CSS 기반 토글만으로 초기 조건에 관계 없이 엘리먼트가 항상 렌더링 됩니다.</p>
    <p>일반적으로 <code>v-if</code>는 토글 비용이 높고 <code>v-show</code>는 초기 렌더링 비용이 더 높습니다. 매우 자주 바꾸기를 원한다면 <code>v-show</code>를, 런타임 시 조건이 바뀌지 않으면 <code>v-if</code>를 권장합니다.</p>
</section>

<hr>

<section id="list-rendering">
    <h2>리스트 렌더링 (List Rendering) - <code>v-for</code></h2>
    <a href="https://v2.vuejs.org/v2/guide/list.html">List Rendering</a>
    <br>

    <section>
        <span>여러 HTML 엘리먼트(0 ~ infinite)를 추가하거나 삭제할 경우 사용할 수 있다.</span>
        <div v-for="(value, name, index) in people" :key="value.id">
            {{index}} {{name}}: {{ value.name }} - {{ value.age }}
        </div>
        <div>맨 위 todo list 예제 참조</div>
        <br>
        <a href="https://v2.vuejs.org/v2/guide/list.html#v-for-with-v-if">공식 문서 참조(v-for with v-if)</a>
        <p><code>v-if</code> 와 <code>v-for</code> 를 동시에 사용하는 것을 <strong>추천하지 않습니다.</strong> <a href="https://v2.vuejs.org/v2/style-guide/">스타일가이드</a>에서 자세한 내용을 확인하세요.</p>
        <p>동일한 노드에 두가지 모두 있다면, <code>v-for</code>가 <code>v-if</code>보다 높은 우선순위를 갖습니다. 즉, <code>v-if</code>는 루프가 반복될 때마다 실행됩니다. 이는 <em>일부</em> 항목만 렌더링 하려는 경우 유용합니다.</p>
    </section>

    <section>
        <h3>key를 사용해야 한다</h3>
        <p>Vue가 <code>v-for</code>에서 렌더링된 엘리먼트 목록을 갱신할 때 기본적으로 “in-place patch” 전략을 사용합니다. 데이터 항목의 순서가 변경된 경우 항목의 순서와 일치하도록 DOM 요소를 이동하는 대신 Vue는 각 요소를 적절한 위치에 패치하고 해당 인덱스에서 렌더링할 내용을 반영하는지 확인합니다. 이것은 Vue 1.x의 <code>track-by=$index</code>의 동작과 유사합니다.</p>
        <p>이 기본 모드는 효율적이지만 <strong>목록의 출력 결과가 하위 컴포넌트 상태 또는 임시 DOM 상태(예: 폼 input)에 의존하지 않는 경우에</strong> 적합합니다.</p>
        <p>Vue에서 개별 DOM 노드들을 추적하고 기존 엘리먼트를 재사용, 재정렬하기 위해서 <code>v-for</code>의 각 항목들에 고유한 key 속성을 제공해야 합니다. <code>key</code>에 대한 이상적인 값은 각 항목을 식별할 수 있는 고유한 ID입니다. 이 특별한 속성은 1.x 버전의 <code>track-by</code>와 거의 비슷하지만 속성처럼 작동하기 때문에 <code>v-bind</code>를 사용하여 동적 값에 바인딩 해야합니다. (여기서는 약어를 이용합니다.)</p>
        <p>과일에 개수를 입력 후 shift 해보면 과일 순서는 바뀌는데 개수는 바뀌지 읺는다.</p>
        <ul>
            <li v-for="fruitName in fruits">
                {{ fruitName }} : <input type="number"/> 개
            </li>
        </ul>
        <p>과일에 개수를 입력 후 shift 해보면 과일 순서와 개수 모두 잘 바뀐다. <code>v-bind:key</code>를 입력하는 것만으로도 잘 동작한다.</p>
        <ul>
            <li v-for="fruitName in fruits" v-bind:key="fruitName">
                {{ fruitName }} : <input type="number"/> 개
            </li>
        </ul>
        <button v-on:click="shift">shift</button>
        <ul>
            <li>
                <a href="https://v2.vuejs.org/v2/guide/list.html#Maintaining-State">공식 문서</a>
            </li>
            <li>
                <a href="https://goodteacher.tistory.com/525">위 과일 예제 참조</a> - 은서파
            </li>
            <li>
                <a href="https://goodteacher.tistory.com/525">key(없음, 중복, 있음) 성능 테스트</a> - kamang
                <ul>
                    <li>
                        결론: <code>key</code>를 유니크하게 사용하는 것이 성능으로도 가장 좋다.
                        <code>index</code>는 사용하지도 말자.
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</section>

<hr>

<section>
    <h2>Vue Instance - <code>new Vue({})</code></h2>
    <article>
        <p>모든 Vue 앱은 <code>Vue</code> 함수로 새 <strong>Vue 인스턴스</strong>를 만드는 것부터 시작합니다.</p>
        <p>엄격히 <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Model_View_ViewModel">MVVM 패턴</a>과 관련이 없지만 Vue의 디자인은 부분적으로 그것에 영감을 받았습니다. 관례적으로, Vue 인스턴스를 참조하기 위해 종종 변수 <code>vm</code>(ViewModel의 약자)을 사용합니다.</p>
        <p>Vue 앱은 <code>new Vue</code>를 통해 만들어진 <code>루트 Vue 인스턴스</code>로 구성되며 선택적으로 중첩이 가능하고 재사용 가능한 컴포넌트 트리로 구성됩니다.</p>
        <ul>
            <li>
                <a href="https://v2.vuejs.org/v2/guide/instance.html">Vue 인스턴스</a>
            </li>
        </ul>
    </article>

    <section id="instance-1">
        {{ name }}<br>
        <button @click="changeText">click me</button>
    </section>
    <section id="instance-2">
        {{ name }}<br>
        <button @click="changeText">click me</button>
    </section>
</section>

<hr>

<section id="vue-component">

    <h2>컴포넌트 (Component)</h2>
    <article>
        <p>컴포넌트는 Vue의 가장 강력한 기능 중 하나입니다. 기본 HTML 엘리먼트를 확장하여 재사용 가능한 코드를 캡슐화하는 데 도움이 됩니다. 상위 수준에서 컴포넌트는 Vue의 컴파일러에 의해 동작이 추가된 사용자 지정 엘리먼트입니다. 경우에 따라 특별한 <code>is</code> 속성으로 확장 된 원시 HTML 엘리먼트로 나타날 수도 있습니다.</p>
        <p>Vue 컴포넌트는 Vue 인스턴스이기도 합니다. 그러므로 모든 옵션 객체를 사용할 수 있습니다. (루트에만 사용하는 옵션은 제외) 그리고 같은 라이프사이클 훅을 사용할 수 있습니다.</p>
    </article>

    <section>
        <h3>전역 등록 (Global Registration)</h3>
        <global-component></global-component>
        <ul>
            <li>
                <a href="https://v2.vuejs.org/v2/guide/components.html">Components Basics</a>
            </li>
            <li>
                <a href="https://v2.vuejs.org/v2/guide/components-registration.html#Global-Registration">Global Registration</a>
            </li>
            <li>
                <a href="https://v2.vuejs.org/v2/guide/components-registration.html#Local-Registration">Local Registration</a>
            </li>
        </ul>
        <p>전역 등록이 썩 좋기만 한 건 아닙니다. 예를 들어 웹팩같은 빌드 시스템을 사용하고 모든 컴포넌트를 전역 등록했으면 설사 어떤 컴포넌트를 더 이상 사용하지 않더라도 최종 빌드에는 들어가 있게 됩니다. 사용자가 내려받아야 하는 자바스크립트의 양이 불필요하게 커지는 거죠.</p>
    </section>
    <section>
        <h3>로컬 등록 (Local Registration)</h3>
        <local-component></local-component>
        <p><strong>로컬로 등록된 컴포넌트는 하위 컴포넌트에서는 사용이 <em>불가능하다</em></strong>는 점을 유의해야 합니다.</p>
        <p>다음과 같이 global component를 vue 인스턴스에 등록해서 사용할 수도 있다.</p>
        <use-global></use-global>
    </section>
</section>

<hr>

<script>

    /**
     * Data Binding
     */
    const dataBinding = new Vue({
        el: '#data-binding',
        // https://v2.vuejs.org/v2/api/#data
        data: {
            person: {
                name: 'Harry Potter',
                age: 18
            }
        },
        // https://v2.vuejs.org/v2/api/#methods
        methods: {
            greeting: function (name) {
                return `Hello ${name}`;
            },
            // function 키워드를 생략할 수 있다.
            add() {
                return this.person.age++;
            },
            subtract() {
                return this.person.age--;
            }
        }
    });

    /**
     * IME 문제 해결방안
     *
     * <p>
     *     component는 vue instance 생성하기 전에 먼저 등록해야 한다.
     * </p>
     *
     * @see <a href="https://joshua1988.github.io/web-development/vuejs/v-model-usage/#v-model-%EB%AC%B8%EB%B2%95%EC%9D%84-%EC%9D%B4%EC%9A%A9%ED%95%B4%EC%84%9C-%ED%95%9C%EA%B5%AD%EC%96%B4%EB%A5%BC-%EC%B2%98%EB%A6%AC%ED%95%A0-%EC%88%9C-%EC%97%86%EC%9D%84%EA%B9%8C%EC%9A%94">캡틴판교</a>
     */
    // Vue.component(tagName, options): 전역 컴포넌트 등록
    // https://html.spec.whatwg.org/multipage/custom-elements.html#valid-custom-element-name
    // 네이밍은 W3C 규칙(모두 소문자, 하이픈 포함)을 지켜야 하는 건 아니지만 권장
    Vue.component('ime', {
        template: `<input v-bind:value="value" v-on:input="updateInput">`,
        props: ['value'],
        methods: {
            updateInput(event) {
                this.$emit('input', event.target.value);
            }
        }
    });

    new Vue({
        el: '#input-model',
        data: {
            inputText: 'hello',
            type: 'text',
            link: 'https://www.youtube.com/',
        },
        methods: {
            getYoutubeChannel(channel) {
                return this.link + channel;
            },
            updateInputText(event) {
                this.inputText = event.target.value;
            }
        },
    });

    new Vue({
        el: '#computed-function',
        data: {
        },
        methods: {
            testMethods() {
                // 함수 형태
                console.log(this.getMethodsDate());
            },
            testComputed() {
                // 함수 형태도 아님
                console.log(this.getComputedDate);
            },
            getMethodsDate() {
                // 호출된 시각 반환
                return new Date().toLocaleString();
            }
        },
        /**
         * https://v2.vuejs.org/v2/api/#computed
         * https://v2.vuejs.org/v2/guide/computed.html#Computed-Properties
         */
        computed: {
            getComputedDate() {
                // 맨처음 호출된 시각 캐싱 후 반환, 이후 호출 시 캐싱된 값을 반환
                return new Date().toLocaleString();
            }
        }
    });

    new Vue({
        el: '#watch-attribute',
        data: {
            person: {
                firstName: '',
                lastName: '',
                fullName: 'Stranger',
                age: 20,
            },
        },
        /**
         * https://v2.vuejs.org/v2/api/#watch
         * https://v2.vuejs.org/v2/guide/computed.html#Watchers
         *
         * 대부분의 경우 computed 속성이 더 적합하지만 사용자가 만든 감시자가 필요한 경우가 있습니다.
         * 그래서 Vue는 watch 옵션을 통해 데이터 변경에 반응하는 보다 일반적인 방법을 제공합니다.
         * 이는 데이터 변경에 대한 응답으로 비동기식 또는 시간이 많이 소요되는 조작을 수행하려는 경우에 가장 유용합니다.
         */
        watch: {
            'person.firstName': function (newValue, oldValue) {
                console.log(newValue, oldValue);
                this.person.fullName = newValue + ' ' + this.person.lastName;
            },
            'person.lastName': function (newValue, oldValue) {
                console.log(newValue, oldValue);
                this.person.fullName = this.person.firstName + ' ' + newValue;
            }
        }
    });

    new Vue({
        el: '#css-binding',
        data: {
            isRed: false,
            isLarge: false,
            title: {
                color: '#000',
                size: 18,
            },
        },
        methods: {
            /**
             * 클래스 바인딩
             * https://vuejs.org/guide/essentials/class-and-style.html
             */
            toggleRed() {
                if (this.isRed) {
                    this.isRed = false;
                    return;
                }
                this.isRed = true;
            },
            toggleLarge() {
                if (this.isLarge) {
                    this.isLarge = false;
                    return;
                }
                this.isLarge = true;
            },
            /**
             * 스타일 바인딩
             * https://vuejs.org/guide/essentials/class-and-style.html
             */
            toggleTitleStyle() {
                if (this.title.size === 18) {
                    this.title.color = '#FF0000FF';
                    this.title.size = 30
                } else {
                    this.title.color = '#000';
                    this.title.size = 18
                }
            }
        }
    });

    new Vue({
        el: '#conditional-rendering',
        data: {
            show: false,
        },
        methods: {
            toggleShow() {
                this.show = !this.show;
            }
        }
    });

    new Vue({
        el: '#list-rendering',
        data: {
            people: [
                {id: 'P1', name: 'John Doe', age: 20},
                {id: 'P2', name: 'Jane Doe', age: 30},
            ],
            fruits: [
                'apple',
                'banana',
                'orange',
            ],
        },
        methods: {
            shift() {
                /**
                 * 배열 변경 감지
                 *
                 * @see <a href="https://v2.vuejs.org/v2/guide/list.html#Array-Change-Detection">Array Change Detection</a>
                 */
                this.fruits.push(this.fruits.shift());
            }
        }
    });

    /**
     * TODO 리스트 예제
     *
     * @see <a href="https://v2.vuejs.org/v2/guide/list.html#v-for-with-a-Component">공식 문서 예제</a>
     */
    Vue.component('todo-item', {
        template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">Remove</button>\
    </li>\
  ',
        props: ['title']
    })

    new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
                {
                    id: 1,
                    title: 'Do the dishes',
                },
                {
                    id: 2,
                    title: 'Take out the trash',
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            }
        }
    });

    /**
     * 여러개의 Vue Instnace.
     * 변수에 할당해서 참조할 수 있다.
     */
    const app1 = new Vue({
        el: '#instance-1',
        data: {
            name: 'instance-1',
        },
        methods: {
            changeText() {
                app2.name = 'changed by instance-1';
            }
        }
    });

    const app2 = new Vue({
        el: '#instance-2',
        data: {
            name: 'instance-2',
        },
        methods: {
            changeText() {
                app1.name = 'changed by instance-2';
            }
        }
    });

    const componentTemplate = `
            <div>
              <h3>{{ message }}</h3>
              {{ count }}<br>
              <button @click="addCount">counter</button>
            </div>
        `;

    const globalComponent = Vue.component('global-component', {
        template: componentTemplate,
        // data는 무조건 함수 형태여야 한다.
        data() {
            return {
                message: 'global component!',
                count: 0,
            }
        },
        methods: {
            addCount() {
                this.count++;
            }
        }
    });

    new Vue({
        el: '#vue-component',
        /**
         * 지역 컴포넌트
         */
        components: {
            'local-component': {
                template: componentTemplate,
                // data는 무조건 함수 형태여야 한다.
                data() {
                    return {
                        message: 'local component!',
                        count: 0,
                    }
                },
                methods: {
                    addCount() {
                        this.count++;
                    }
                }
            },
            'use-global': globalComponent,
        }
    });

</script>
<script>
    // for chrome devtool
    // https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=en
    // https://devtools.vuejs.org/guide/faq.html#when-opening-an-html-file-directly
    // CDN 방식이라면 minify되지 않은 파일 사용해야 한다.
    // Extension 설치 후 브라우저를 재시작한다.
    Vue.config.devtools = true;
</script>
</body>
</html>
